<?xml version="1.0"?>
<config>
    <modules>
        <TBT_Producthistory>
            <version>1.1.0.0</version>
        </TBT_Producthistory>
    </modules>

    <admin>
        <routers>
            <producthistoryadmin>
                <use>admin</use>
                <args>
                    <module>TBT_Producthistory</module>
                    <frontName>producthistoryadmin</frontName>
                </args>
            </producthistoryadmin>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <TBT_Producthistory>
                    <files>
                        <default>TBT_Producthistory.csv</default>
                    </files>
                </TBT_Producthistory>
            </modules>
        </translate>
        <layout>
            <updates>
                <producthistory>
                    <file>producthistory.xml</file>
                </producthistory>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <producthistory_product_load_after>
                        <type>singleton</type>
                        <class>producthistory/load_observer</class>
                        <method>beforeProductFormHtml</method>
                    </producthistory_product_load_after>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <producthistory_producttab>
                        <type>singleton</type>
                        <class>producthistory/product_observer</class>
                        <method>addHistoryTab</method>
                    </producthistory_producttab>
                </observers>
            </core_block_abstract_prepare_layout_after>
            
            <core_block_abstract_to_html_after>
                <observers>
                    <producthistory_form_block_to_html_after>
                        <type>singleton</type>
                        <class>producthistory/load_observer</class>
                        <method>afterFormToHtml</method>
                    </producthistory_form_block_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
            
        </events>
    </adminhtml>
    
    <global>
        <models>
            <producthistory>
                <class>TBT_Producthistory_Model</class>
                <resourceModel>producthistory_mysql4</resourceModel>
            </producthistory>
            <producthistory_mysql4>
                <class>TBT_Producthistory_Model_Mysql4</class>
                <entities>
                    <revision>
                        <table>producthistory_revision</table>
                    </revision>
                </entities>
            </producthistory_mysql4>
        </models>
        
        <resources>
            <producthistory_setup>
                <setup>
                    <module>TBT_Producthistory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </producthistory_setup>
            <producthistory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </producthistory_write>
            <producthistory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </producthistory_read>
        </resources>

        <blocks>
            <producthistory>
                <class>TBT_Producthistory_Block</class>
            </producthistory>                
        </blocks>

        <helpers>
            <producthistory>
                <class>TBT_Producthistory_Helper</class>
            </producthistory>
        </helpers>

        <events>
            <catalog_product_save_after>
                <observers>
                    <producthistory_product_save_after>
                        <type>singleton</type>
                        <class>producthistory/observer</class>
                        <method>onProductSaveAfter</method>
                    </producthistory_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
</config>
